@model DMUViews.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>

        <dt>
            <img style="width:150px; height:150px" src="@Url.Content("~/ImageVideoFiles/" +Model.Image)" />

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReleased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReleased)
        </dd>



        <dt>
            <label>Genres</label>
        </dt>

        <dd>
            @{
                foreach (var genre in Model.Genres)
                {
                    @:  @genre.GenreName <br />
                }
            }
        </dd>



        <dt>
            <label>Cast</label>
        </dt>

        <dd>
            @{
                foreach (var actor in Model.Actors)
                {
                    @:  @actor.ActorName <br />
                }
            }
        </dd>



        <dt>
            <label>Directors</label>
        </dt>

        <dd>
            @{
                foreach (var director in Model.Directors)
                {
                    @:  @director.DirectorName <br />
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
