@model IEnumerable<DMUViews.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReleased)
        </th>
        <th>
            Genres
        </th>
        <th>
            Actors
        </th>
        <th>
            Directors
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MovieTitle)
        </td>
        <td>
            <div>
                @if (Model != null)
                {
                    <img style="width:150px; height:150px" src="@Url.Content("~/ImageVideoFiles/" +@item.Image)" />
                }
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReleased)
        </td>

        <td>
            @{
                foreach (var genre in item.Genres)
                {
                    @:  @genre.GenreName <br />
                }
            }
        </td>
        <td>
            @{
                foreach (var actor in item.Actors)
                {
                    @:  @actor.ActorName <br />
                }
            }
        </td>
        <td>
            @{
                foreach (var director in item.Directors)
                {
                    @:  @director.DirectorName <br />
                }
            }
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MovieId }) |
            @Html.ActionLink("Details", "Details", new { id = item.MovieId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })
        </td>
    </tr>
}

</table>
