@model DMUViews.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row">
    <h4>Movie</h4>
    <hr />
    <div class="col-lg-3">
        <h1 class="my-4">DMU Views</h1>
        <div class="list-group">
            <a href="#" class="list-group-item active">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

        <div class="card mt-4">
            @*<img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">*@
            <img class="card-img-top img-fluid" style="" src="@Url.Content("~/ImageVideoFiles/" +Model.Image)" />
            <div class="card-body">
                <h3 class="card-title">@Model.MovieTitle</h3>
                <h4>$24.99</h4>
                <p class="card-text">@Model.Description</p>
                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9734;</span>
                10.0 stars
            </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
            <div class="card-header">
                Product Reviews
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                <hr>

                <form id="MovieRatingControl">
                    <input type="hidden" name="MovieId" value="23" />
                    <input type="hidden" name="RecordId" value="@Model.MovieId" />

                    <div class="form-group">
                        @*<label>Write Your Comment</label>
                        @{
                            Html.RenderAction("MovieRatingsControl", "MovieComments", new { movieId = Model.MovieId });
                        }*@
                        <span>
                            <i class="fas fa-star" id="Rank" name="Rank" value=""></i>
                        </span>
                        <textarea class="form-control" id="" rows="3" name="Comment" placeholder="Write your comment here"></textarea>
                    </div>
                </form>
                <button value="submit" type="submit" href="#" class="btn btn-success">Leave a Review</button>

            </div>
        </div>

        <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function SetRatingControlCallBacks(e) {
            var rank = $("#MovieRatingsControl a[name='Rank']");
            rank.on('click', SetRating);
        }

        function SetRating(e) {
            var data = { movieId: $(this).data("movieId"), rank: $(this).data("rank") };

            $.post("@Url.Action("SetRating", "Ratings")", data)

                .done(funtion(response, status, jqxhr).js, {
                    var url = "@Url.Action("MovieRatingsControl", "Ratings")";
                    js: ("MovieRatingsControl").load(url, { movieId: data.movieId },
                          function (responseText, statusText)
                })

                js.fail(function (jqxhr, status, error) {
            })
        }

        $(document).ready(SetRatingControlCallBacks);
    </script>
}
