
@model IEnumerable<DMUViews.Models.Movie>

@*<p>
        @Html.ActionLink("Search", "Home", FormMethod.Get))
    </p>*@
<br /><br />
@*@using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {

            @Html.TextBox("searching")<input type="submit" value="Search" />

    }*@
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Movie Id</th>
            <th>Movie Title</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    There is no movie of any match
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.MovieId</td>
                    <td>@item.MovieTitle</td>
                    <td><img style="width:150px; height:150px" src="@Url.Content("~/ImageVideoFiles/" +item.Image)" /></td>
                </tr>
            }
        }

    </tbody>
</table>

